.registerbox{
	width:100%;
	height:606px;
	background:#fffafa;
}
.register{
	width:1262px;
	height:606px;
	margin:0 auto;
	position:relative;
	background:url(../img/reg.jpg) no-repeat -320px 0;
}
.registerdiv{
	width:400px;
	height:514px;
	border:1px solid darkred;
	position:absolute;
	bottom:24px;
	right:149px;
	font-size:12px;
}
.registerdiv span.span{
	display:inline-block;
	width:70px;
	height:24px;
	margin-left:26px;
	cursor:pointer;
}
.sleep1{
	margin-top:72px;
	margin-left:143px;
	width:165px;
	height:30px;
}
.sleep2{
	width:90px;
	height:30px;
	margin-left:143px;
	margin-top:24px;
}
.sleep3{
	width:83px;
	height:30px;
	margin-left:143px;
	margin-top:24px;
}
.sleep4{
	margin-top:25px;
	margin-left:143px;
	width:165px;
	height:30px;
}
.sleep5{
	margin-top:25px;
	margin-left:143px;
	width:165px;
	height:30px;
}
.registerdiv input{
	border:none;
	outline:none;
}
.sleep6{
	margin-top:21px;
	margin-left:60px;
}
.denglu{
	margin-left:60px;
	margin-top:20px;
	width:278px;
	height:32px;
	border:#d64548;
	color:white;
	cursor:pointer;
	background:url(../img/2017_03_31_11_26_03.png);
}
.img{
	width:400px;
	height:65px;
	margin-top:44px;
}
.img1{
	margin-left:81px;
	margin-bottom:12px;
}
.img2{
	margin-left:30px;
	margin-right:10px;
}
.registerdiv span.apan:hover{
	color:#C11E20;
	cursor:pointer;
}
.tiao{
	position:fixed;
	width:708px;
	height:547px;
	top:180px;
	right:249px;
	display:none;
	background:white;
	border:1px solid #ddd;
	padding-left:13px;
	padding-right:13px;
	font-size:12px;
}
.tiao .top{
	width:708px;
	height:36px;
	background:#ffd9d9;
	border-bottom:3px solid #a30101;
	line-height:36px;
	font-size:12px;
	font-weight:bold;
	cursor:move;
}
.tiao .top span{
	margin-left:550px;
	font-size:18px;
	cursor:pointer;
}
